# In this file we have defined the people who will verify each code that is commited to the project

* @sergane13 @OchianIulian
bd @Sm18990 @GavrilStefan-Dorian
dev @OchianIulian @Marcu123
ml @Sm18990 @danielApopei
